body {
    margin: 0;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

h2,
h3 {
    color: #004b64;
    text-align: center;
}

p {
    font-size: 1.15rem;
    margin: 12px 0;
}

.top-link {
    margin: 2% 15%;
}

.img-polaroid {
    width: 90%;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/*------STYLING OF NAVBAR------*/

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 61, 61);
    height: 85px;
    padding: 0 10%;
}

.navbar-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
}

.navbar-right {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-links {
    display: flex;
    align-items: center;
    height: 100%;
}

.dropdown {
    height: 100%;
}

#navbar-main-title {
    font-family: "Century Gothic", sans-serif;
    color: rgb(0, 153, 204);
    font-size: 28px;
    text-shadow: rgb(0 0 0 / 20%) 2px 5px 9px,
        rgb(255 255 255 / 30%) 0px -5px 35px;
    line-height: 42px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
}

#navbar-subtitle {
    font-family: "Century Gothic", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    text-shadow: none;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.navlink-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
    margin: 0 2px;
    background-color: #0099cc;
    color: white;
    text-decoration: none;
}

.navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 61, 61);
    border: none;
    color: white;
    text-decoration: none;
    margin: 0 2px;
    width: 110px;
    height: 100%;
}

.navlink:hover {
    background-color: #0099cc;
    transition-duration: 0.3s;
}

@media screen and (min-width: 1094px) {
    .navbar-container {
        padding: 0 10%;
    }
}

@media screen and (min-width: 986px) {
    .hamburger-menu {
        display: none;
    }
}

@media screen and (max-width: 1093px) {
    .navbar-container {
        padding: 0 5%;
    }
}

@media screen and (max-width: 985px) {
    .navbar-right {
        display: none;
    }
    .hamburger-menu {
        height: 40px;
        width: 40px;
    }
}

/*------STYLING OF HOME------*/

.top-img-container {
    background-image: url("./assets/home.jpg");
    background-position: right bottom 30%;
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: cover;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 3px 11px rgb(0 0 0 / 70%);
    height: 29vw;
}

.home-welcome-text-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 8%;
    height: inherit;
}

#welcome-message {
    width: 27rem;
    color: rgb(46, 46, 46);
    font-size: 220%;
    line-height: 2.8rem;
    text-shadow: rgb(0 0 0 / 15%) 0px 3px 5px,
        rgb(255 255 255 / 30%) 0px -5px 35px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    padding: 7px 10px;
}

#welcome-subtitle {
    width: 30rem;
    font-size: 110%;
    line-height: 23px;
    letter-spacing: 1px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: rgb(255, 255, 255);
    text-shadow: none;
    font-weight: normal;
    font-style: italic;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    padding: 3px 10px;
}

.home-intro {
    text-align: justify;
}

.home-visit {
    background-color: rgb(243, 243, 243);
    text-align: justify;
    margin-bottom: 2%;
}

.home-other {
    margin-bottom: 2%;
    text-align: justify;
    display: flex;
}

.home-other-left {
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.home-other-left p {
    padding: 0 4.5%;
}

.home-other-right {
    margin: 0 2%;
    padding: 0 2%;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

.event-card p {
    font-size: 1rem;
}

.event-link {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: rgb(0, 153, 204);
}

@media screen and (max-width: 900px) {
    .img-polaroid {
        height: 150px;
        object-fit: cover;
        object-position: 20% 10%;
    }
    #welcome-message {
        width: 21rem;
        line-height: 2.3rem;
        font-size: 160%;
        text-align: center;
    }
    #welcome-subtitle {
        width: 23rem;
        font-size: 78%;
        text-align: center;
    }
    .top-img-container {
        background-image: url("./assets/home.jpg");
        background-position: right bottom 30%;
        background-repeat: no-repeat;
        background-attachment: center;
        background-size: cover;
        background-color: rgb(240, 240, 240);
        box-shadow: 0px 3px 11px rgb(0 0 0 / 70%);
        height: 26vw;
    }
    .home-welcome-text-container {
        padding-top: 5%;
    }
}

@media screen and (max-width: 700px) {
    #welcome-message {
        width: 16rem;
        line-height: 1.6rem;
        font-size: 120%;
        text-align: left;
    }
    #welcome-subtitle {
        width: 13rem;
        font-size: 80%;
        line-height: 1.2rem;
        text-align: left;
    }
    .home-welcome-text-container {
        margin: 0 5%;
        padding-top: 3%;
    }
    .top-img-container {
        height: 35vh;
    }
}

@media screen and (max-width: 939px) {
    .home-other {
        flex-direction: column;
        align-items: center;
    }

    .home-other-right,
    .home-other-left {
        width: 80%;
    }
}

@media screen and (min-width: 940px) {
    .home-other-right {
        width: 30%;
    }

    .home-other-left {
        width: 70%;
    }
}

@media screen and (min-width: 1094px) {
    .home-welcome-text-container {
        margin: 0 15%;
    }
    .home-intro {
        margin: 2% 15%;
    }
    .home-visit {
        padding: 1% 15%;
    }
    .home-other {
        padding: 1% 15%;
    }
}

@media screen and (max-width: 1093px) {
    .home-welcome-text-container {
        margin: 0 6%;
    }
    .home-intro {
        margin: 1% 8%;
    }
    .home-visit {
        padding: 2% 8%;
    }
    .home-other {
        padding: 1% 8%;
    }
    .home-other-right {
        margin: 5% 50%;
        width: 20%;
    }
}

/*------STYLING OF HOME------*/

.footer-container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3% 7%;
    text-align: justify;
}

.footer-sections {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.footer-inner-section {
    display: flex;
    flex-direction: column;
    width: 80%;
}

/*------STYLING OF TOURS------*/

.tours-intro {
    padding: 1% 15%;
    background-color: rgb(243, 243, 243);
    text-align: justify;
}

.p-alert {
    font-style: italic;
    color: rgb(145, 24, 24);
    padding: 1% 10%;
}

.tours-details {
    padding: 1% 15%;
    margin: 1% 0;
    text-align: justify;
    display: flex;
}

.tours-left {
    width: 30%;
    margin: 0 2%;
    padding: 1% 2%;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.tours-right {
    width: 70%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.tours-right p {
    padding: 0 4.5%;
}

/*------STYLING OF RECEPTIONS------*/

.receptions-intro {
    padding: 1% 15%;
    background-color: rgb(243, 243, 243);
    text-align: justify;
}

.receptions-details {
    display: flex;
}

.receptions-details-left {
    width: 30%;
    margin: 0 2%;
    display: flex;
    align-items: center;
}

.receptions-details-right {
    width: 70%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
}

.receptions-decorative {
    padding: 1% 15%;
    display: flex;
    flex-direction: column;
}

.receptions-carousel {
    margin: 3% 0;
}

/*------STYLING OF COTTAGES------*/

.cottages-intro {
    padding: 1% 15%;
    background-color: rgb(243, 243, 243);
    text-align: justify;
}

.cottages-details {
    padding: 1% 15%;
    margin: 1% 0;
    text-align: justify;
    display: flex;
}

.cottages-details-left {
    width: 30%;
    margin: 0 2%;
    padding: 1% 2%;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.cottages-details-right {
    width: 70%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cottages-details-right p {
    padding: 0 4.5%;
}

.cottage-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-polaroid-gites {
    width: 260px;
    padding: 3px;
    margin: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/*------STYLING OF EVENTS------*/

.events-intro {
    padding: 1% 15%;
    background-color: rgb(243, 243, 243);
    text-align: justify;
}

.events-details {
    padding: 1% 15%;
    margin: 1% 0;
    text-align: justify;
    display: flex;
}

.events-details-main {
    width: 70%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.events-details-main p {
    padding: 0 4.5%;
}

.events-details-others {
    width: 30%;
    margin: 0 2%;
    padding: 1% 2%;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

/*------STYLING OF CONTACTS------*/

.contacts-intro {
    padding: 1% 15%;
    background-color: rgb(243, 243, 243);
    text-align: justify;
}

.contacts-details {
    padding: 1% 15%;
    margin: 1% 0;
    text-align: justify;
    display: flex;
}

.contacts-details-left {
    width: 50%;
    margin: 0 2%;
    padding: 1% 2%;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.contacts-details-right {
    width: 50%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts-details-right p {
    padding: 0 4.5%;
}

/*------STYLING OF COMPANY------*/

.company-intro {
    padding: 1% 15%;
    background-color: rgb(243, 243, 243);
    text-align: justify;
}

.company-details {
    padding: 1% 15%;
    margin: 1% 0;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.company-middle-paragraph {
    display: flex;
    align-items: center;
}

/*------STYLING OF CONSTRUCTION------*/

.construction-intro {
    padding: 1% 15%;
    background-color: rgb(243, 243, 243);
    text-align: justify;
}

.construction-details {
    padding: 1% 15%;
    margin: 1% 0;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.construction-details-first {
    text-align: justify;
    display: flex;
}

.construction-details-paragraphs {
    margin-left: 10%;
}

/*------STYLING OF HISTORY------*/

.history-intro {
    padding: 1% 15%;
    background-color: rgb(243, 243, 243);
    text-align: justify;
}

.history-details {
    padding: 1% 15%;
    margin: 1% 0;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: top;
}

.history-details h2 {
    text-align: left;
}

.history-details-paper {
    display: flex;
}

.history-details-chapel {
    display: flex;
}
